
a[title] {
    color: blue;
    text-decoration: underline;
}


a[target="_blank"] {
    color: red;
    font-weight: bold;
}

input[type="text"] {
    border: 2px solid green;
    padding: 5px;
}

input[required] {
    background-color: lightyellow;
}


img[width="200"] {
    border: 2px solid black;
}
